#app {
	text-align: center;
}

#header {
	background-color: #222;
	height: auto;
	padding: 20px;
	color: white;
}

#title {
	margin-top: 0px;
	font-size: 1.5em;
}

#links {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
}

.current {
	color: white;
	font-weight: bold !important;
}

#links li a {
	padding: 10px;
	color: lightGray;
	text-decoration: none;
}

#links li a:hover {
	color: white;
}

#content {
	margin-top: 20px;
}
